force-app/main/default/flows/LP_Portal_Verification_Setup_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Verification_Status</name>
        <label>Check Verification Status</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>LP_CheckVerificationStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Needs_Setup_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_CheckVerificationStatus</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>needsSetup</assignToReference>
            <name>needsSetup</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasMfaEnabled</assignToReference>
            <name>hasMfaEnabled</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasSmsEnabled</assignToReference>
            <name>hasSmsEnabled</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasEmailEnabled</assignToReference>
            <name>hasEmailEnabled</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasAuthenticatorEnabled</assignToReference>
            <name>hasAuthenticatorEnabled</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Login_Send_Code</name>
        <label>Send Email Login Code</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>LP_SendEmailCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Login_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_SendEmailCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emailSendSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>emailSendMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Login_Verify_Code</name>
        <label>Verify Email Login Code</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>LP_VerifyLoginCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Login_Code_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enteredCode</name>
            <value>
                <elementReference>EmailLoginCodeInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_VerifyLoginCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>loginCodeValid</assignToReference>
            <name>isValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>loginCodeMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Setup_Send_Code</name>
        <label>Send Email Setup Code</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>LP_SendEmailCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Setup_Enter_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_SendEmailCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emailSendSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>emailSendMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Setup_Verify_Code</name>
        <label>Verify Email Setup Code</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>LP_VerifyEmailCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Setup_Code_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enteredCode</name>
            <value>
                <elementReference>EmailSetupCodeInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_VerifyEmailCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>isEmailCodeValid</assignToReference>
            <name>isValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>emailCodeMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_Code</name>
        <label>Send SMS Verification Code</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>LP_SendSMSCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMS_Enter_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>phoneNumberVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_SendSMSCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>sendCodeSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sendCodeMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Auth_Method</name>
        <label>Set Authenticator Method</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>LP_SetVerificationMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Auth_Setup_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedMethod</name>
            <value>
                <stringValue>Authenticator</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LP_SetVerificationMethod</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>updateSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SMS_Login_Send_Code</name>
        <label>Send SMS Login Code</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>LP_SendSMSCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMS_Login_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>PhoneNumberInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_SendSMSCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>loginSendMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>loginSendSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SMS_Login_Verify_Code</name>
        <label>Verify SMS Login Code</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>LP_VerifyLoginCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMS_Login_Code_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enteredCode</name>
            <value>
                <elementReference>SMSLoginCodeInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_VerifyLoginCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>loginCodeValid</assignToReference>
            <name>isValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>loginCodeMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Switch_To_MFA</name>
        <label>Switch to Authenticator</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <actionName>LP_SetVerificationMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Switch_MFA_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedMethod</name>
            <value>
                <stringValue>Authenticator</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LP_SetVerificationMethod</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>switchUpdateSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>switchResultMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Verify_SMS_Code</name>
        <label>Verify SMS Setup Code</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>LP_VerifySMSCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMS_Setup_Code_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enteredCode</name>
            <value>
                <elementReference>SMSLoginCodeInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LP_VerifySMSCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>isCodeValid</assignToReference>
            <name>isValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>codeMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choiceAuthenticator</name>
        <choiceText>Authenticator App (Most Secure)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authenticator</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmail</name>
        <choiceText>Email Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSMS</name>
        <choiceText>SMS Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Email_Login_Action</name>
        <label>Email Login Action</label>
        <locationX>50</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Email_Login_Verify_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Verify Code</defaultConnectorLabel>
        <rules>
            <name>Switch_To_SMS_From_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>switchToSMSVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Phone_Number</targetReference>
            </connector>
            <label>Switch to SMS</label>
        </rules>
        <rules>
            <name>Switch_To_MFA_From_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>switchToMFAFromEmailVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_To_MFA</targetReference>
            </connector>
            <label>Switch to MFA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Login_Code_Valid</name>
        <label>Email Login Code Valid?</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Email_Login_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Code</defaultConnectorLabel>
        <rules>
            <name>Email_Login_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loginCodeValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Setup_Code_Valid</name>
        <label>Email Setup Code Valid?</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Email_Setup_Enter_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Code</defaultConnectorLabel>
        <rules>
            <name>Email_Setup_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEmailCodeValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Setup_Complete</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Method_Decision</name>
        <label>Which Method Selected?</label>
        <locationX>176</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Set_Auth_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Authenticator</defaultConnectorLabel>
        <rules>
            <name>Email_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedMethodVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Setup_Send_Code</targetReference>
            </connector>
            <label>Email Selected</label>
        </rules>
        <rules>
            <name>SMS_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedMethodVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Phone_Number</targetReference>
            </connector>
            <label>SMS Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Setup_Decision</name>
        <label>Needs Setup?</label>
        <locationX>176</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Route_By_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Set Up</defaultConnectorLabel>
        <rules>
            <name>Needs_Setup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>needsSetup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Verification_Method</targetReference>
            </connector>
            <label>Needs Setup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_By_Method</name>
        <label>Route By Current Method</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Select_Verification_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Method (Safety Net)</defaultConnectorLabel>
        <rules>
            <name>Has_Email_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasEmailEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Login_Send_Code</targetReference>
            </connector>
            <label>Email Enabled</label>
        </rules>
        <rules>
            <name>Has_SMS_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSmsEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Login_Send_Code</targetReference>
            </connector>
            <label>SMS Enabled</label>
        </rules>
        <rules>
            <name>Has_Authenticator_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasAuthenticatorEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Authenticator Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Login_Code_Valid</name>
        <label>SMS Login Code Valid?</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>SMS_Login_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Code</defaultConnectorLabel>
        <rules>
            <name>SMS_Login_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loginCodeValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Post_Verify</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Post_Verify</name>
        <label>Switch to MFA?</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Continue Login</defaultConnectorLabel>
        <rules>
            <name>SMS_Switch_To_MFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>switchToMFAVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_To_MFA</targetReference>
            </connector>
            <label>Switch to MFA</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Setup_Code_Valid</name>
        <label>SMS Setup Code Valid?</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>SMS_Enter_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Code</defaultConnectorLabel>
        <rules>
            <name>SMS_Setup_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCodeValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Setup_Complete</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP Portal Verification Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP Portal Verification Setup Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Auth_Setup_Complete</name>
        <label>Authenticator Setup Complete</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuthSetupCompleteText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Authenticator App Verification Enabled&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Authenticator App verification has been enabled for your account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;On your next login, you may be prompted to set up your Authenticator App (such as Google Authenticator or Salesforce Authenticator).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are not prompted, please contact your administrator to complete the setup.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Login_Screen</name>
        <label>Email Verification</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Login_Action</targetReference>
        </connector>
        <fields>
            <name>EmailLoginInfoText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Identity Verification&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!emailSendMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the 6-digit verification code to continue to your portal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailLoginErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!loginCodeMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailLoginCodeInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>emailLoginCodeVar</elementReference>
            </defaultValue>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailLoginDivider</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(112, 110, 107);&quot;&gt;Want to use a different verification method? Select an option below instead of entering a code.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SwitchToSMS</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>switchToSMSVar</elementReference>
            </defaultValue>
            <fieldText>Switch to SMS Verification</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SwitchToMFAFromEmail</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>switchToMFAFromEmailVar</elementReference>
            </defaultValue>
            <fieldText>Switch to Authenticator App (MFA)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Setup_Complete</name>
        <label>Email Verification Enabled</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailSetupCompleteText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Email Verification Enabled!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your email has been verified and email verification is now enabled for your account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From now on, you will receive a verification code via email each time you log in.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can switch to SMS or Authenticator App verification at any time during login.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Setup_Enter_Code</name>
        <label>Verify Your Email</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Setup_Verify_Code</targetReference>
        </connector>
        <fields>
            <name>EmailSetupInfoText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Verify Your Email Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!emailSendMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the 6-digit code below to verify your email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailSetupErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!emailCodeMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailSetupCodeInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>emailSetupCodeVar</elementReference>
            </defaultValue>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailSetupHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(112, 110, 107);&quot;&gt;The code expires in 10 minutes. If you did not receive the code, go back and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An error occurred during the verification process. Please try logging in again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(112, 110, 107);&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Verification_Method</name>
        <label>Secure Your Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Method_Decision</targetReference>
        </connector>
        <fields>
            <name>SelectMethodInfoText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Set Up Account Verification&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To protect your account, please select a verification method. You will use this method to verify your identity each time you log in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectedMethod</name>
            <choiceReferences>choiceEmail</choiceReferences>
            <choiceReferences>choiceSMS</choiceReferences>
            <choiceReferences>choiceAuthenticator</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>selectedMethodVar</elementReference>
            </defaultValue>
            <fieldText>Choose Verification Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_Enter_Code</name>
        <label>Verify Your Phone</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_SMS_Code</targetReference>
        </connector>
        <fields>
            <name>SMSSetupInfoText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Verify Your Phone Number&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!sendCodeMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the 6-digit code below to verify your phone number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SMSSetupErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!codeMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SMSSetupCodeInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>smsSetupCodeVar</elementReference>
            </defaultValue>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SMSSetupHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(112, 110, 107);&quot;&gt;The code expires in 10 minutes. If you did not receive the code, go back and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_Login_Screen</name>
        <label>SMS Verification</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SMS_Login_Verify_Code</targetReference>
        </connector>
        <fields>
            <name>SMSLoginInfoText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Identity Verification&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!loginSendMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the 6-digit verification code to continue to your portal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SMSLoginErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!loginCodeMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SMSLoginCodeInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>smsLoginCodeVar</elementReference>
            </defaultValue>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SMSLoginDivider</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(112, 110, 107);&quot;&gt;Want to use Authenticator App instead? Check the box below and verify your SMS code to switch.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SwitchToMFA</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>switchToMFAVar</elementReference>
            </defaultValue>
            <fieldText>Switch to Authenticator App (MFA)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_Phone_Number</name>
        <label>Enter Phone Number</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_SMS_Code</targetReference>
        </connector>
        <fields>
            <name>SMSPhoneInfoText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Set Up SMS Verification&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter your mobile phone number below. We will send a verification code to this number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhoneNumberInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>phoneNumberVar</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_Setup_Complete</name>
        <label>SMS Verification Enabled</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SMSSetupCompleteText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SMS Verification Enabled!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your phone number has been verified and SMS verification is now enabled for your account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From now on, you will receive a verification code via SMS each time you log in.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can switch to Authenticator App verification at any time during login.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switch_MFA_Complete</name>
        <label>Authenticator Enabled</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SwitchMFACompleteText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Switched to Authenticator App!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your verification method has been changed to Authenticator App.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;On your next login, you may be prompted to set up your Authenticator App (such as Google Authenticator or Salesforce Authenticator).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are not prompted, please contact your administrator to complete the setup.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Verification_Status</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>codeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailCodeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailLoginCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSendMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSetupCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasAuthenticatorEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasEmailEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasMfaEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasSmsEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCodeValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isEmailCodeValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loginCodeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loginCodeValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loginSendMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loginSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>needsSetup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMethodVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </variables>
    <variables>
        <name>sendCodeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendCodeSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smsLoginCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smsSetupCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>switchResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>switchToMFAFromEmailVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>switchToMFAVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>switchToSMSVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>switchUpdateSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
