force-app/main/default/flows/LP_Portal_Verification_Setup_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Verification_Status</name>
        <label>Check If User Needs Verification Setup</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>LP_CheckVerificationStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Needs_Setup_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>needsSetup</assignToReference>
            <name>needsSetup</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Verification_Method</name>
        <label>Set Selected Verification Method</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <actionName>LP_SetVerificationMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Setup_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedMethod</name>
            <value>
                <elementReference>SelectedMethod</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>updateSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>enrollmentUrl</assignToReference>
            <name>enrollmentUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <choices>
        <name>choiceAuthenticator</name>
        <choiceText>Authenticator App (Recommended - Most Secure)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authenticator</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmail</name>
        <choiceText>Email Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSMS</name>
        <choiceText>SMS Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Needs_Setup_Decision</name>
        <label>Does User Need Verification Setup?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>Already Set Up</defaultConnectorLabel>
        <rules>
            <name>Needs_Setup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>needsSetup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Verification_Method</targetReference>
            </connector>
            <label>Needs Setup</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP Portal Verification Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP Portal Verification Setup Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Select_Verification_Method</name>
        <label>Select Verification Method</label>
        <locationX>50</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Verification_Method</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p style=&quot;font-size: 20px; font-weight: bold; color: #032D60;&quot;&gt;Secure Your Account&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;font-size: 14px;&quot;&gt;To protect your account, please select a verification method below. This will be used to verify your identity each time you log in.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedMethod</name>
            <choiceReferences>choiceAuthenticator</choiceReferences>
            <choiceReferences>choiceEmail</choiceReferences>
            <choiceReferences>choiceSMS</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Authenticator</stringValue>
            </defaultValue>
            <fieldText>Choose your preferred verification method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MethodDescriptions</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;font-size: 13px; color: #444;&quot;&gt;&lt;b&gt;Authenticator App&lt;/b&gt; - Use an app like Google Authenticator or Salesforce Authenticator to generate time-based codes. This is the most secure option.&lt;/p&gt;&lt;p style=&quot;font-size: 13px; color: #444;&quot;&gt;&lt;b&gt;Email Verification&lt;/b&gt; - Receive a one-time verification code to your registered email address.&lt;/p&gt;&lt;p style=&quot;font-size: 13px; color: #444;&quot;&gt;&lt;b&gt;SMS Verification&lt;/b&gt; - Receive a one-time verification code via text message to your mobile phone.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Complete</name>
        <label>Verification Method Selected</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompletionText</name>
            <fieldText>&lt;p style=&quot;font-size: 20px; font-weight: bold; color: #032D60;&quot;&gt;Verification Method Selected&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;font-size: 14px;&quot;&gt;Your account has been configured for &lt;b&gt;{!SelectedMethod}&lt;/b&gt; verification.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;font-size: 14px; font-weight: bold;&quot;&gt;What happens next:&lt;/p&gt;&lt;p style=&quot;font-size: 14px;&quot;&gt;1. Click &amp;quot;Finish&amp;quot; to proceed to your portal&lt;/p&gt;&lt;p style=&quot;font-size: 14px;&quot;&gt;2. On your next login, you will be prompted to complete verification enrollment&lt;/p&gt;&lt;p style=&quot;font-size: 14px;&quot;&gt;3. Follow the on-screen instructions to finish setup&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;font-size: 14px; color: #2E844A; font-weight: bold;&quot;&gt;Your account security has been enhanced!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>400</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;font-size: 16px; font-weight: bold; color: #C23934;&quot;&gt;Something went wrong&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;font-size: 14px;&quot;&gt;An error occurred while setting up your verification method. Please try logging in again or contact your administrator for assistance.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;font-size: 12px; color: #706E6B;&quot;&gt;Error details: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Verification_Status</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>enrollmentUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>needsSetup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
